<section id="contact" class="section bg-dark-1">
    <div class="container">
        <!-- Heading -->
        <div class="row mb-5">
            <div class="col-lg-9 col-xl-8 mx-auto text-center">
                <h2 class="fw-600 text-white mb-3">Confirmare</h2>
                <hr class="heading-separator-line bg-primary opacity-10 mx-auto">
                <p class="text-4 text-white-50" *ngIf="display">Te rugăm să ne comunici decizia ta până la data de 1 Iunie 2024.</p>
                <p class="text-4 text-white-50" *ngIf="!display">Iti multumim pentru raspunsul trimis.</p>
                <button class="btn btn-secondary rounded-pill d-inline-flex" (click)="resetValue()" *ngIf="!display">Reactualizare</button>
            </div>
        </div>
        <!-- Heading End -->

        <!-- Contact Form -->
        <div class="row" style="text-align: center;">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <form class="form-dark" *ngIf="display">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <h3 class="text-4 text-white-50">Numar de persoane:</h3>
                                <div class="col-md-12">
                                    <input name="nr" type="number" class="form-control bg-transparent border-2 border-secondary" required placeholder="Nume" [(ngModel)]="identity.number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-4">
                                <h3 class="text-4 text-white-50">Nume invitati:</h3>
                                <div class="col-md-12">
                                    <input name="names" type="email" class="form-control bg-transparent border-2 border-secondary" required placeholder="Your Email" [(ngModel)]="identity.nameToString">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-4">
                                <h3 class="text-4 text-white-50">Numar telefon / Email:</h3>
                                <div class="col-md-12">
                                    <input name="contact" type="email"
                                        class="form-control bg-transparent border-2 border-secondary" required
                                        placeholder="Your Email" [(ngModel)]="identity.email">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-4">
                                <h3 class="text-4 text-white-50">Cazare:</h3>
                                <div class="col-md-12">
                                    <select class="form-control bg-transparent border-2 border-secondary" #teams (change)="onSelected(teams.value)">
                                       <option *ngFor="let o of cities">
                                          {{o}}
                                       </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="text-4 text-white-50">Mesajul dumneavoastra:</h3>
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" class="form-control bg-transparent border-2 border-secondary"
                                rows="5" required placeholder="Lasa-ne un mesaj. Te rog sa ne anunti daca doresti meniu vegetarian." [(ngModel)]="mesaj"></textarea>
                        </div>
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary rounded-pill d-inline-flex" (click)="sentEmail(true)">Da, confirm prezenta</button>
                        </div>
                        <div class="col-md-6 text-center">
                            <button class="btn btn-secondary rounded-pill d-inline-flex" (click)="sentEmail(false)">Nu pot sa particip</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact end -->